---
layout: default
---

{% for project in site.projects reversed %}
<article class="post-content">
  <header>
    <a href="{{ project.url | relative_url }}">
      <h2 itemprop="name headline">{{ project.title | escape }}</h2>
    </a>
  </header>

  <p>{{ project.excerpt }}</p>

  {% if project.tech %}
  {% assign tech = project.tech | split: "," %}
  <ul class="skill-list">
    {% for i in tech  %}
      <li><div class="pill">{{ i }}</div></li>
    {% endfor %}
  </ul>
  {% endif %}

</article>
{% endfor %}
